h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1;
    line-height: 0
}

img {
    max-width:100%;
    max-height:100%;
}

body {
    display: flex;
    flex-direction: column; /* this will stack the elements vertically */
    align-items: center; /* this will center the elements horizontally */
}

/* main parent container */
div#main_container {
    display: flex;
    flex-direction: row; /* this will arrange the elements horizontally */

    border-style: solid;
    border-color: red;
    border-width: 10px;
    height: 80vh;
    width: 50%;

}

div#button_container {
    display: flex;
    justify-content: center; /* this will center the button horizontally */
    width: auto; /* this will make the container fill the width of the parent element */
    position: absolute;
    left: 0.5%;
    right: 0.5%;
    z-index: 1;
}

div#left_side {
    border-style: solid;
    border-color: springgreen;
    background-color: rgb(0, 225, 112);
    border-width: 10px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    position: relative;

    bottom: 0;
    left: 0;
    margin-top: 45px;
}

/* clothes_selector container (left side)*/
div#clothes_selector {
    display: flex;
    justify-content: center;
    border-style: solid;
    width: 100%;
    background-color: rgb(0, 206, 103);
    align-items: center;


}

div#right_side {
    border-style: solid;
    border-color: orchid;
    background-color: rgb(216, 132, 212);
    border-width: 10px;

    display: flex;
    flex: 1;
    bottom: 0;
    right: 0;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

/* clothes_container container (right side) (contains button)*/
div#clothes_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 30%;
    background-color: rgb(212, 99, 207);
    padding-top: 2%;
    padding-bottom: 2%;
   }

/* clothing image container */
div#shirt_container {
    background-color: rgb(207, 72, 201);
    width: 80%;
    padding: 5%;
}

div#pants_container {
    background-color: rgb(207, 72, 201);
    width: 80%;
    padding: 5%;
    max-height: 300px;
}


div.clothing_image {
    width: 45%;
}

button#random_button {
    width: 200px;
    height: 50px;
    padding: 0;
    border: none;
    background: none;

}

label {
    font-family: Arial, Helvetica, sans-serif;    
}